<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create" @opened="opened" :close-on-click-modal="false" append-to-body>
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.descripcion}">
                            <label class="control-label">Descipcion <span class="text-danger">*</span></label>
                            <el-input v-model="form.descripcion" dusk="placa"></el-input>
                            <small class="form-control-feedback" v-if="errors.descripcion" v-text="errors.descripcion[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.monto}">
                            <label class="control-label">Monto</label>
                            <el-input v-model="form.monto"  ></el-input> 
                            <small class="form-control-feedback" v-if="errors.monto" v-text="errors.monto[0]"></small>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.filename}">
                            <label class="control-label">filename</label> 
                            
                            
                            <el-input v-model="form.filename"  ></el-input>
                            <small class="form-control-feedback" v-if="errors.filename" v-text="errors.filename[0]"></small>
                        </div>
                         
                </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.tipo}">
                            <label class="control-label">tipo</label> 
                            
                            
                            <el-input v-model="form.tipo"  ></el-input>
                            <small class="form-control-feedback" v-if="errors.tipo" v-text="errors.tipo[0]"></small>
                        </div>
                         
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.order_id}">
                            <label class="control-label">Order id</label> 
                            
                            
                            <el-input v-model="form.order_id"  ></el-input>
                            <small class="form-control-feedback" v-if="errors.order_id" v-text="errors.order_id[0]"></small>
                        </div>
                         
                    </div>
                </div>
   
   
                

                
                
            </div>
            <div class="form-actions text-right mt-4">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
        <data-table :resource="resource">
                    <tr slot="heading">
                        <th>#</th>
                        <th>Descripcion</th>
                        <th class="text-center">Monto</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }" >
                        <td v-if="row.order_id ===form.order_id && row.tipo==='1'" >{{ index }}</td>
                        <td v-if="row.order_id ===form.order_id && row.tipo==='1'">{{ row.descripcion }}</td>
                        <td v-if="row.order_id ===form.order_id && row.tipo==='1'" class="text-center">{{ row.monto }}</td>
                        <td v-if="row.order_id ===form.order_id && row.tipo==='1'" class="text-center">{{ row.fecha }}</td>
                        <td v-if="row.order_id ===form.order_id && row.tipo==='1'"  class="text-center">{{ row.tipo }}</td>
                        <td v-if="row.order_id ===form.order_id && row.tipo==='1'" class="text-right">

                            <!-- <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreate(row.id)" >Editar</button> -->
                            
                            <template >
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDelete(row.id)">Eliminar</button>
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickPrint(row.id)">PDF</button>
                            </template>

                        </td>
                    </tr>
                </data-table>
                <div>

        <expense-options :showDialog.sync="showDialogOptions"
                          :recordId="recordId"
                          :showClose="true"></expense-options>
    </div>
    </el-dialog>
    
</template>

<script>

    import {serviceNumber} from '@mixins/functions'
    import DataTable from '@components/DataTable.vue'
    import {deletable} from '@mixins/deletable'
    import ExpenseOptions from './optionstike.vue'
    
    export default {
        mixins: [serviceNumber,deletable],
        props: ['showDialog', 'recordId', 'external','typeUser'],
        components: {DataTable,ExpenseOptions},
        data() {
            return {
                loading_submit: false,
                titleDialog: null,
                resource: 'gviajes',
                errors: {},
                form: {},
                api_service_token: false,
                identity_document_types: [],
                tipo:[],
                showDialogOptions: false,
            }
        },
        async created() {
            await this.initForm()
            

        },
        computed: {
            maxLength: function () {
                if (this.form.identity_document_type_id === '6') {
                    return 11
                }
                if (this.form.identity_document_type_id === '1') {
                    return 8
                }
            }
        },
        
        methods: {
            keyUpLicense(e){
                if(this.form.license.length == 1 && e.keyCode !== 8 && this.form.number){
                    this.form.license = this.form.license.concat(this.form.number)
                }
            },
            initForm() {
                this.errors = {}

                this.form = {
                    id: null,
                    user_id: 0,
                    order_id: this.recordId,
                    descripcion: '',
                    tipo: '1',
                    monto: 0,
                    external_id: null, 
                    filename: 'G-100-'+ this.recordId 
                   
                }
                this.$eventHub.$emit('reloadData')
            },
            async opened() {

            },
            create() {
                
                this.initForm()
                        this.titleDialog = `Gastos de Viaje  [Orden : 00${this.recordId}]`
                    
                this.tipo = [{id:'id', description:'Monto'}, {id:'id2', description:'Porcentaje'}]
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            clickPrint(format){
                window.open(`/purchases/print/${format}/gviaje`, '_blank');
            },
            submit() {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {

                            this.$message.success(response.data.message)

                            if (this.external) {
                                this.$eventHub.$emit('reloadDataDrivers', response.data.id)
                            } else {
                                this.$eventHub.$emit('reloadData')
                            }

                           

                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
              clickOptions(recordId = null) {
               
                this.showDialogOptions = true
            },
            changeIdentityDocType(){
                // (this.recordId == null) ? this.setDataDefaultCustomer() : null
            },
            setDataDefaultCustomer(){

                // if(this.form.identity_document_type_id == '0'){
                //     this.form.number = '99999999'
                //     this.form.name = "Clientes - Varios"
                // }else{
                //     this.form.number = ''
                //     this.form.name = null
                // }

            },
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            },
            searchCustomer() {
                this.searchServiceNumberByType()
            },
            searchNumber(data) {

                this.form.name = (this.form.identity_document_type_id === '1')?data.nombre_completo:data.nombre_o_razon_social;

            },
        }
    }
</script>
